:root {
	/* Fonts */
	--font-family: sans-serif;

	/* Colors */
	--background: #1f1f1f;
	--foreground: #242424;
	--field-color: #2a2a2a;

	--border: #3a363a;

	--accent-1: #028c8a;
	--accent-2: #007c7a;

	--text: #efefff;

	/* Borders */
	--br-small: 8px;
	--br-med: 16px;
	--br-large: 16px;
}

body {
	width: 100vw;

	margin: 0px;
	padding: 5vw;

	background: var(--background);

	display: flex;
	flex-direction: column;

	box-sizing: border-box;

	color: var(--text);

	font-family: var(--font-family);
}

.card {
	padding: 10px;
	margin: 10px;

	border-radius: var(--br-med);
	
	background: var(--foreground);

	border: 1px solid var(--border);
}

form {
	display: flex;
	flex-direction: column;
}

input {
	height: 25px;
	border: none;
	border-radius: var(--br-small);
	padding: 5px;
	background: var(--field-color);
	color: var(--text);
	border: 1px solid var(--border);
}

select {
	height: 25px;
	border: none;
	border-radius: var(--br-small);
	padding: 5px;
	background: var(--field-color);
	color: var(--text);
	border: 1px solid var(--border);
}

.fg {
	background: var(--foreground);
	padding: 10px;
	border-radius: var(--br-med);
	border: 1px solid var(--border);
	margin: 10px;
	display: flex;
	flex-direction: column;
}

button {
	height: 25px;
	border: none;
	border-radius: var(--br-small);
	padding: 5px;
	margin-top: 10px;
	background: var(--accent-1);
	transition-duration: 150ms;
}

button:hover {
	background: var(--accent-2);
	cursor: pointer;
}

h1, h2, h3 {
	margin: 5px;
}

.linear {
	display: flex;
	flex-direction: row;
}

.chip {
	width: 35%;
	min-width: 250px;
	height: 25px;
	border-radius: var(--br-large);
	background: var(--foreground);
	padding: 5px;
	margin: 10px;
	margin-left: 30px;
	padding-left: 15px;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid var(--border)
}

.remove {
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 100rem;
	background: #4f4a4f;
	border: 1px solid var(--border);
	margin: 0px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ef7f7f;
	padding: 0px;
}

.remove:hover {
	background: #6f4a4f;
	color: #9f9f9f;
}

.left, .right {
	display: flex;
	align-items: center;
}

div.fg input {
	margin-left: 30px;
	margin-bottom: 15px;
}

div.fg label {
	margin-left: 30px;
	margin-bottom: 4px;
}

.chartGrid {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 2;
	min-width: 0px;
}

.chart {
	display: flex;
	min-width: 0px;
	height: 450px;
	width: 100%;
	margin-bottom: 20px;
	justify-content: center;
}

.chart.pie {
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	height: 250px;
}

.modal {
	width: 25vw;
	height: 25vh;

	display: block;
	position: fixed;

	align-items: center;
	justify-content: center;

	top: 50vh;
	left: 50vw;

	transform: translate(-50%, -50%);

	border: 1px solid var(--border);
	border-radius: var(--br-med);
	padding: 10px;

	background: var(--foreground);
}

.modal form * {
	margin: 5px;
}